Source: histring
Section: utils
Priority: optional
Maintainer: Tong Sun <suntong001@users.sourceforge.net>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.6
Homepage: https://github.com/suntong001/histring
Vcs-Git: https://github.com/suntong001/histring.git
Vcs-Browser: https://github.com/suntong001/histring

Package: histring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: highlight strings using ANSI terminal escape sequences
 histring simply highlights strings using ANSI terminal escape codes.
 It is a general purpose highlighting tool that works with arbitrary
 input text file, and highlight different keywords in different colours.
 Very useful for any kind of text logs, or outputs like grep, diff, etc.
