Source: histring
Section: utils
Priority: extra
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.7.2

Package: histring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: highlight strings using ANSI terminal escape sequences
 histring simply highlights strings using ANSI terminal escape codes.
 It is very useful for example for parsing output of grep and diff.
